<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubimed | Consultorio</title>
    <!--bootstrap and font-->
    <%- include('../includes/cssdefault.ejs') %>
        <!--css-->
        <link rel="stylesheet" href="./css/navegador.css">
        <link rel="stylesheet" href="./css/consultorio.doctor.css">
        <style>
            label{
                margin: 0;
            }
            * { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: whitesmoke;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: whitesmoke;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: whitesmoke;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid whitesmoke;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid whitesmoke;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
        </style>
</head>

<body class="bg-light">
    <div class="w-100 d-flex justify-content-between align-items-stretch">
        <%- include('../includes/navegador.doctor.ejs')%>
            <div class="main-index">
                <nav class="navbar navbar-light py-0 border-bottom">
                    <span class="navbar-brand mb-0 text-muted">Consultorio</span>
                </nav>
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline col-md-6 col-sm-10" style="position: relative;">
                        <input class="form-control mr-sm-2 w-100" type="search" placeholder="Nombre o cedula de tu paciente" aria-label="Search">
                        <i class="fas fa-search text-secondary" style="position: absolute; right: 9%;"></i>
                    </form>
                    <div class="col">
                        <button class="btn btn-main" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-plus"></i> Añadir paciente</button>
                    </div>
                </nav>
                <div class="shadow-sm row mx-auto my-1" style="width: 95%;">
                    <div class="w-100 px-1 py-1">
                        <small>Mis pacientes</small>
                    </div>
                    <div class="w-100">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th style="font-weight: 400;" scope="col">Perfil</th>
                                    <th style="font-weight: 400;" scope="col">Nombre(s)</th>
                                    <th style="font-weight: 400;" scope="col">Edad</th>
                                    <th style="font-weight: 400;" scope="col">Email</th>
                                    <th style="font-weight: 400;" scope="col">Cedula</th>
                                    <th style="font-weight: 400;" scope="col">Acciones</th>
                                    <th style="font-weight: 400;" scope="col">Historial</th>
                                </tr>
                            </thead>
                            <tbody id="listaPacientes">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="shadow-sm row mx-auto my-2" style="width: 95%;">
                    <div class="w-100 px-1 py-1">
                        <small>Solicitud de paciente</small>
                    </div>
                    <div class="w-100">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th style="font-weight: 400;" scope="col">Perfil</th>
                                    <th style="font-weight: 400;" scope="col">Nombre(s)</th>
                                    <th style="font-weight: 400;" scope="col">Estado</th>
                                    <th style="font-weight: 400;" scope="col">Email</th>
                                    <th style="font-weight: 400;" scope="col">Cedula</th>
                                </tr>
                            </thead>
                            <tbody id="listaPacientesPendientes">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Añadir paciente a tu consultorio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body p-0">
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline col-12">
                            <input id="inputCedula" class="form-control mr-sm-2 col-8" type="search" style="font-size: .9em;" placeholder="Cedula paciente" aria-label="Search">
                            <button id="buscarPacienteAdd" class="btn btn-main col" style="font-size: .9em;">Buscar</button>
                        </form>
                    </nav>
                    <div id="pacienteAdd" class="w-100 p-2">
                        <div id="loadBar" class="w-100 d-none justify-content-center align-items-center flex-column">
                            <div class="lds-ripple">
                                <div></div>
                                <div></div>
                            </div>
                            <small class="text-muted text-center mr-2">Buscando</small>
                        </div>
                        <div id="imgSearch" class="w-100 d-flex justify-content-center align-items-center flex-column p-4">
                            <p class="text-center w-100">Digita su numero de identificación</p>
                            <div class="w-75 mx-auto my-2">
                                <img src="./img/idNumber.jpg" alt="identificacion paciente ubimed" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agendarConsultaModal" tabindex="-1" role="dialog" aria-labelledby="agendarConsultaModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agendarConsultaModal">Agendar Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div id="renderInfoAgendaPaciente" class="modal-body">
                </div>
                <div class="modal-footer">
                    <small id="leyendSinConsulta" class="text-danger d-none">No tienes consultas, ingresa un cupón o contacta a soporte.</small>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="guardarConsulta" type="button" class="btn btn-primary">Agendar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/moment.js"></script>
    <!--bootstrap-->
    <%- include('../includes/jsbootstrap') %>
        <!--JS-->
        <script src="./js/doctor/consultorio.js"></script>
    <!-- Modal -->

    <div class="modal fade" id="hisorialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Historial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table id="descargasHistorial" class="table table-bordered">
                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
</body>

</html>